<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>CheckIT<i class="fa fa-check" aria-hidden="true"></i></h1>
    <p class="lead">Password Reset</p>
    <div class="form-group">
      <input type="text" class="form-control" required name="username" placeholder="Username" [(ngModel)]="model.username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" required name="password"  placeholder="Password" [(ngModel)]="model.password">
    </div>
    <div class="text-center">
      <button class="btn btn-info btn-lg mr-2" (click)="password_reset = true">Reset Password</button>
      <button class="btn btn-primary btn-lg" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
