<form #registerForm="ngForm" (ngSubmit)="reset()">
  <h2 class="text-center text-primary">Reset Password</h2>
  <hr>
<!-- email -->
  <div class="form-group">
    <input type="text" class="form-control" required name="Email" placeholder="Email" [(ngModel)]="email">
  </div>
<!-- username -->
  <div class="form-group">
    <input type="text" class="form-control" required name="username" placeholder="Username"
      [(ngModel)]="model.username">
  </div>
<!-- password -->
  <div class="form-group">
    <input type="password" class="form-control" required name="password" placeholder="Password"
      [(ngModel)]="model.password">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Reset</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>

</form>
