<body>
  <div class="invWrapper">
    <h2>Inventory List</h2>
    <table style="width:80%">
      <tr>
        <th>Inventory Id</th>
        <th>UPC</th>
        <th>Unit Price</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity in Stock</th>
      </tr>
      <ul class="InventoryList">
      <li *ngFor="let item of items">
        <tr>
          <form>          
            <div class="form-inline">
                <input type="InventoryId" name="InventoryId" id="InvenId" class="form-control" placeholder="Inventory Id" aria-describedby="helpId">
                <!-- <small id="helpId" class="text-muted">Help text</small> -->
            </div>
            <div class="form-inline">
              <input type="UPC" name="UPC" id="InvenUPC" class="form-control" placeholder="UPC" aria-describedby="helpUPC">
            </div>
            <div class="form-inline">
                <input type="UnitPrice" name="InventoryPrice" id="InvenPrice" class="form-control" placeholder="Unit Price" aria-describedby="helpPrice">
              </div>
            <div class="form-inline">
              <input type="InventoryName" name="InvenName" id="InvenName" class="form-control" placeholder="Name" aria-describedby="helpName">
            </div>            
            <div class="form-inline">
              <input type="InventoryDescription" name="Description" id="InvenDescrip" placeholder="Description" aria-describedby="helpDescrip">
            </div>
            <div class="form-inline">
              <input type="InventoryQuantity" name="Quantity" id="InvenQuantity" class="form-control" placeholder="Quantity" aria-describedby="helpQuantity">
            </div>
        </form>
        </tr>
      </li>
    </ul>
  </table>
<body>
<!-- Possibly for future use to search for an individual item? -->
<!-- <aside>
    <form>
      Inventory ID:<br>
      <input type="text" name="InventoryID" value=""><br>
      <input type="submit" value="Submit">
    </form>
</aside> -->
