.invWrapper {
  margin: auto;
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  font-size: 16px;
  /* line-height: 24px; */
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 8px;
  text-align: left;
}

th {
  background-color: cornflowerblue;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

tr:nth-child(odd) {
  background-color: whitesmoke;
}
