<body>
  <div class="invWrapper">
    <h2>Inventory List</h2>
    <table style="width:80%">
      <tr>
        <th>Inventory Id</th>
        <th>UPC</th>
        <th>Unit Price</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity in Stock</th>
      </tr>
      <tr>
          <td>
            <ul>
              <li *ngFor="let item of items">
                <div class="form-control">
                  <input type="text" name=InventoryId id="InventoryId" class="form-control" placeholder="Inventory Id" aria-describedby="helpId" readonly [(ngModel)]="item.id">
                </div>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let item of items">
                <div class="form-control">
                  <input type="text" name="UPC" id="InventoryUPC" class="form-control" placeholder="UPC" aria-describedby="helpUPC" [(ngModel)]="item.upc">
                </div>
              </li>
            </ul>
          </td>
          <td>
            <ul>
                <li *ngFor="let item of items">
                <div class="form-control">
                  <input type="money" name="InventoryPrice" id="InventoryPrice" class="form-control" placeholder="Unit Price" aria-describedby="helpPrice" [(ngModel)]="item.price">
                </div>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let item of items">
                <div class="form-control">
                  <input type="text" name="InventoryName" id="InventoryName" class="form-control" placeholder="Name" aria-describedby="helpName" [(ngModel)]="item.name">
                </div>
              </li>
            </ul>
          </td>
          <td> 
            <ul>
              <li *ngFor="let item of items">         
                <div class="form-control">
                  <input type="text" name="Description" class="form-control" id="InventoryDescrip" placeholder="Description" aria-describedby="helpDescrip" [(ngModel)]="item.description">
                </div>
              </li>
            </ul>
          </td> 
          <td>
            <ul>
              <li *ngFor="let item of items">
                <div class="form-control">
                  <input type="text" name="Quantity" id="InventoryQuantity" class="form-control" placeholder="Quantity" aria-describedby="helpQuantity" [(ngModel)]="item.quantity">
                </div>
              </li>
            </ul>
          </td>
      </tr>
  </table>
<body>
<!-- Possibly for future use to search for an individual item? -->
<!-- <aside>
    <form>
      Inventory ID:<br>
      <input type="text" name="InventoryID" value=""><br>
      <input type="submit" value="Submit">
    </form>
</aside> -->
