<h2>Customer Search</h2>
<table>
  <tr>
    <td>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary btn-secondary btn-sm" (click)="dropdown = 'id';">ID</button>
        <button type="button" class="btn btn-outline-secondary btn-secondary btn-sm" (click)="dropdown = 'email';">Email</button>
        <button type="button" class="btn btn-outline-secondary btn-secondary btn-sm" (click)="dropdown = 'fname';">First Name</button>
        <button type="button" class="btn btn-outline-secondary btn-secondary btn-sm" (click)="dropdown = 'lname';">Last Name</button>
        <button type="button" class="btn btn-outline-secondary btn-secondary btn-sm" (click)="dropdown = 'company';">Company Name</button>
        <button type="button" class="btn btn-outline-secondary btn-secondary btn-sm" (click)="dropdown = 'phone';">Phone</button>
      </div>
      <!-- <select [(ngModel)]="dropdown">
        <option value="none">Select a search option</option>
        <option value="id">ID</option>
        <option value="email">Email</option>
        <option value="phone">Phone</option>
        <option value="fname">First Name</option>
        <option value="lname">Last Name</option>
        <option value="company">Company Name</option>
      </select> -->

    </td>
    <td>

      <!-- <input class="input-label mr-3" type="text" [(ngModel)]="input" placeholder="Enter your search" /> -->
    </td>

  </tr>
  <tr>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
            </div>
            <input type="text" class="form-control" aria-label="Search" aria-describedby="inputGroup-sizing-default"
              [(ngModel)]="input" (keyup)="search()">
              <td>
                <button type="button" class="btn btn-outline-success mr-3" (click)="search()">Search</button>
              </td>
            </div>
  </tr>
</table>

<div class="container customer-box">
  <div class="row justify-content-center title">
    <h2 class="text-center">Returned results for "{{ input }}"</h2>
  </div>
  <div class="row header">
    <div class="col-6">
      <h4>Customer</h4>
    </div>
    <div class="col-6 right">
      <h4>Customer ID</h4>
    </div>
  </div>
  <div class="row" *ngFor="let customer of customers" (click)="transfer(customer.id)" class="item">
    <div class="alignleft">
      {{ customer.firstName }} {{ customer.lastName }}
    </div>
    <div class="alignright">
      {{ customer.id }}
    </div>
  </div>
</div>