.customer-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
  }
  
  .customer-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
  }
  
  .customer-box table td {
    padding: 5px;
    vertical-align: top;
  }
  
  .customer-box table tr td:nth-child(2) {
    text-align: right;
  }
  
  .customer-box table tr.top table td {
    padding-bottom: 20px;
  }
  
  .customer-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
  }
  
  .customer-box table tr.information table td {
    padding-bottom: 40px;
  }
  
  .customer-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
  }
  
  .customer-box table tr.details td {
    padding-bottom: 20px;
  }
  
  .customer-box table tr.item {
    border-bottom: 1px solid #eee;
    width: 100%;
  }
  
  .customer-box table tr.item.last td {
    border-bottom: none;
  }
  
  .customer-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
  }
  
  @media only screen and (max-width: 600px) {
    .customer-box table tr.top table td {   
      width: 100%;
      display: block;
      text-align: center;
    }
  
    .customer-box table tr.information table td {
      width: 100%;
      display: block;
      text-align: center;
    }
  }
  
  /** RTL **/
  .rtl {
    direction: rtl;
    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  }
  
  .rtl table {
    text-align: right;
  }
  
  .rtl table tr td:nth-child(2) {
    text-align: left;
  }

  