<div>
  <!-- first name -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">First Name:</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default" [(ngModel)]="fname">
  </div>
  <!-- last name -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Last Name:</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default" [(ngModel)]="lname">
  </div>
  <!-- company name -->
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          Are you a company <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)]="isCompany">
        </div>
      </div>
      <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Company Name">
    </div>
  <!-- phone -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Phone Number:</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default" [(ngModel)]="phone">
  </div>
  <!-- email -->
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">E-mail:</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" [(ngModel)]="email">
    </div>
  <!-- country -->
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Country:</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" [(ngModel)]="country">
  </div>
  <!-- state -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">State:</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default" [(ngModel)]="state">
  </div>
  <!-- zip -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Zipcode:</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default" [(ngModel)]="zip">
  </div>
  <!-- city -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">City:</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default" [(ngModel)]="city">
  </div>
  <!-- street1 -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Street:</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default" [(ngModel)]="street1">
  </div>
  <!-- street2 -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Apt:</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default" [(ngModel)]="street2">
  </div>
  <button (click)="add()">Add</button>
</div>