<!-- nav bar container -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="currentUser"> -->
    <!-- <a class="navbar-brand" routerLink="#">CheckIt</a> -->
        <!-- <button class="navbar-toggler" type="button" data-toggler="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">     -->
            <!-- <span class="navbar-toggler-icon"></span> -->
        <!-- </button> -->
        <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
            <!-- <div class="navbar-nav">                 -->
                <!-- List of links to other areas -->
                <!-- <a class="nav-item nav-link" routerLink="/">Home</a> -->
                <!-- <a class="nav-item nav-link" routerLink="/invoices">Invoices<span class="sr-only">(current)</span></a> -->
                <!-- <button class="btn btn-invoices" routerLink="/invoices">Invoices</button> -->
                <!-- <button class="btn btn-inventory" routerLink="/inventory">Inventory</button> -->
                <!-- <button class="btn btn-customers" routerLink="/customers">Customers</button> -->
                <!-- <button class="btn btn-search" routerLink="/search">Search</button> -->
                <!-- <button class="btn btn-logout" (click)="logout()">Logout</button> -->
        <!-- </div> -->
    <!-- </div> -->
<!-- </nav> -->

<!-- The nav bar -->
<div class="navbar-nav" *ngIf="currentUser">    
    <ul>                
        <!-- List of links to other areas -->
        <li><a class="nav-item home" routerLink="/">Home</a></li>
        <li><a class="nav-item invoices"routerLink="/invoices">Invoices</a></li>
        <li><a class="nav-item inventory" routerLink="/inventory">Inventory</a></li>
        <li><a class="nav-item customers" routerLink="/customers">Customers</a></li>
        <li><a class="nav-item search" routerLink="/search">Search</a></li>
        <li><a class="nav-item logout" (click)="logout()">Logout</a></li>
        <!-- Make a small box to show any Inventory Alerts After the Links? -->
        <!-- Possibly make the CheckIt text a drop down menu? -->
        <li style="float:right"><a class="brand" href="/">CheckIt</a></li> 
    </ul>    
</div>

<!-- This is for testing, don't use in production - Josh
  <pre>
  Form Valid: {{loginForm.valid}}
  Form Touched: {{loginForm.touched}}
  Form Dirty: {{loginForm.dirty}}
  Form Values: {{loginForm.value | json}}
  Username Valid: {{username.valid}}
  Username Touched: {{username.touched}}
  Username Dirty: {{username.dirty}}
  Username Value: {{username.value}}
  Password Valid: {{password.valid}}
  Password Touched: {{password.touched}}
  Password Dirty: {{password.dirty}}
  Password Value: {{password.value}}
</pre> -->