<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#" [routerLink]="['/home']">CheckIT <i class="fa fa-check" aria-hidden="true"></i></a>

    <!-- This is an example of Angular routing for links -->
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <!-- <a class="nav-link" [routerLink]="['/customers']">Customers</a> -->
        <div class="btn-group" dropdown>
          <button id="buttonCustomers" dropdownToggle type="button" class="btn btn-primary dropdown-toggle mr-3" aria-controls="dropdown-basic">
            Customer<span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#" [routerLink]="['/customers/searchcustomers']"><i class="fa fa-search" aria-hidden="true"></i>Search Customer</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#" [routerLink]="['/customers/newcustomer']"><i class="fa fa-user" aria-hidden="true"></i>New Customer</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <div class="btn-group" dropdown>
          <button id="buttonInvoice" dropdownToggle type="button" class="btn btn-primary dropdown-toggle mr-3" aria-controls="dropdown-basic">
            Invoice <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#" [routerLink]="['/newinvoice']"><i class="fa fa-sticky-note" aria-hidden="true"></i>New Invoice</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#" [routerLink]="['/searchinvoices']"><i class="fa fa-search" aria-hidden="true"></i>Search Invoices</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <!-- <a class="nav-link" [routerLink]="['/inventory']">Inventory</a> -->
        <div class="btn-group" dropdown>
          <button id="buttonInventory" dropdownToggle type="button" class="btn btn-primary dropdown-toggle mr-3"
            aria-controls="dropdown-basic">
            Inventory <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#"[routerLink]="['/inventory/newitem']"><i class="fa fa-sticky-note" aria-hidden="true"></i>New Item</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#" [routerLink]="['/inventory/search']"><i class="fa fa-search" aria-hidden="true"></i>Search Inventory</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <!-- This is the login form in top right -->
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" #username="ngModel" placeholder="Username"
        required [(ngModel)]="model.username">

      <input class="form-control mr-sm-2" type="Password" name="password" #password="ngModel" placeholder="Password"
        required [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>

    <!-- After the login, the username and menu appear -->
    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle" dropdownToggle>
        <!-- Display username -->
        {{authService.decodedToken?.unique_name | titlecase}}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Settings</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class=fa fa-sign-out></i>Logout</a>
      </div>
    </div>
  </div>
</nav>

<!-- This is for testing, don't use in production - Josh
  <pre>
  Form Valid: {{loginForm.valid}}
  Form Touched: {{loginForm.touched}}
  Form Dirty: {{loginForm.dirty}}
  Form Values: {{loginForm.value | json}}
  Username Valid: {{username.valid}}
  Username Touched: {{username.touched}}
  Username Dirty: {{username.dirty}}
  Username Value: {{username.value}}
  Password Valid: {{password.valid}}
  Password Touched: {{password.touched}}
  Password Dirty: {{password.dirty}}
  Password Value: {{password.value}}
</pre> -->
