<body>
  <h1>Inventory Search</h1>
  <div class="container">
    <div class="row">
      <div class="searchBar">
        <input class="form-control" type="text" name="search"[(ngModel)]="searchText" autocomplete="off"
        placeholder="Start searching for an item by typing in the UPC, Price, or Name">
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Upc</th>
            <th>Price</th>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items | filter:searchText">
            <td>{{item.id}}</td>
            <td>{{item.upc}}</td>
            <td>{{item.price}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.quantity}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

