ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
li
{
    float: left;
    border-right: 1px solid #bbb;
}
li a
{
    /* background-color: rgb(0, 84, 211); */
    /* border: 3px solid rgb(88, 88, 88); */
    /* border-radius: 8px; */
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
li a:hover
{
    background-color: blue;
}
li:last-child
{
    border-right: none;
}