<html>
<head>
  <title>New Invoice</title>
</head>

<body>
  <div id="page-wrap">
    <div id="header">
      <h1>INVOICE</h1>
    </div>

    <!-- Person the invoice is mailed to -->
    <div class="customerName">
      <div class="alert alert-danger" *ngIf="customerNotFound">Customer not found.</div>
      <label>Invoice to:</label>
      <input *ngIf="customerAddress === null" [(ngModel)]="selectedCustomerName"
            [typeahead]="customerData"
            typeaheadOptionField="firstLastName"
            [typeaheadOptionsInScrollableView]="5"
            [typeaheadScrollable]="true"
            (typeaheadOnSelect)="onCustomerSelect($event)"
            class="form-control">
            <!-- <div class="" style="padding-top: 3px;">
              <button id="btnNewCustomer" *ngIf="customerAddress === null" class="btn btn-outline-success mr-3">New Customer</button>
              <button id="btnCancelCustomerSelection" type="button" *ngIf="customerAddress != null" (click)="this.customerAddress = null; this.selectedCustomerName = ''" class="btn btn-outline-danger btn-group mr-3">Cancel Customer</button>
            </div> -->
    </div>

    <div id="identity">
        <!-- This has autodetect for company first then name -->
      <address id="address" *ngIf="customerAddress != null" enabled="false">
        <strong>{{ selectedCustomerName }}</strong>,<br>
        {{ selectedCustomer?.phoneNumber }}<br>
        {{ customerAddress?.street }},<br>
        {{ customerAddress?.city }}, {{ customerAddress?.state }}, {{ customerAddress?.zipCode }}<br>
      </address>
      <div id="logo">✓</div>
    </div>

    <!-- Empty space between title and items list -->
    <div style="clear:both"></div>

    <div id="customer">
      <table id="meta">
        <tr>
          <td class="meta-head">Date</td>
          <td>
            <textarea id="date">{{ currentDate | date:'MM-dd-yyyy' }}</textarea>
          </td>
        </tr>
        <tr>
          <td class="meta-head">Amount Due</td>
          <td>
            <div class="due"><textarea id="totalDue">{{ totalDue | currency }}</textarea></div>
          </td>
        </tr>
        <tr>
          <td class="meta-head"><div *ngIf="outgoinginv === true">Outgoing</div><div *ngIf="outgoinginv === false">Incoming</div></td>
          <td>
            <div class="due"><input type="checkbox" checked [(ngModel)]="outgoinginv"/></div>
          </td>
        </tr>
        <tr>
          <td class="meta-head">Send to QB</td>
          <td>
            <div class="due"><input type="checkbox" [(ngModel)]="sendToQuickBooks"/></div>
          </td>
        </tr>
      </table>
    </div>

    <table id="items">
      <tr>
        <th>X</th>
        <th>Barcode</th>
        <th>On Hand</th>
        <th>Item</th>
        <th>Description</th>
        <th>Unit Cost</th>
        <th>Count</th>
        <th colspan="2">Price</th>
      </tr>

      <!-- Quantity Rows  -->
      <tr class="item-row" *ngFor="let item of items; index as i">
        <td>
          <button style="margin: 0; padding: 3px; vertical-align: top;" type="button" id="delete" class="rp btn-sm btn-outline-success" (click)='deleteRow(item)'>X</button>
        </td>
        <td class="barcode">
            <textarea class="barcode" autofocus="true" [(ngModel)]="item.upc" (ngModelChange)="upcEntered(i)" id="txtUPC">{{ item.upc || "" }}</textarea>
        </td>
        <td class="quantity-on-hand">
          {{ item.quantityOnHand }}
        </td>
        <td class="item-name">
            <textarea [(ngModel)]="item.name">{{ item.name }}</textarea>
        </td>
        <td class="description">
          <textarea [(ngModel)]="item.description">{{ item.description }}</textarea>
        </td>
        <td class="unit-cost">
          <textarea [(ngModel)]="item.price" (input)='priceChanged()'>{{ item.price | currency }}</textarea>
        </td>
        <td class="quantity">
          <textarea [(ngModel)]="item.quantity" (input)='priceChanged()'>{{ item.quantity }}</textarea>
        </td>
        <td class="price">
          {{ item.price * item.quantity | currency }}
        </td>
        <td class="end">

        </td>
      </tr>

      <!-- <tr id="hiderow"> -->
      <tr>
        <td class="blank" colspan="9">
          <button type="button" class="btn btn-outline-success" id="addrow" title="Add a row" (click)='addNewRow();'>Add a row</button>
        </td>
      </tr>

      <tr>
        <td colspan="4" class="blank"></td>
        <td colspan="4" class="total-line">Subtotal</td>
        <td class="total-value">
          <span id="subtotal">{{ subTotal | currency }}</span>
        </td>
      </tr>

      <tr>
        <td colspan="4" class="blank"> </td>
        <td colspan="4" class="total-line">Total</td>
        <td class="total-value">
          <span id="total">{{ totalDue | currency }}</span>
        </td>
      </tr>

      <tr>
        <td colspan="4" class="blank"> </td>
        <td colspan="4" class="total-line">Amount Paid</td>
        <td class="total-value"><textarea id="totalPaid" [(ngModel)]="totalPaid" (input)='priceChanged()'></textarea></td>
      </tr>

      <tr>
        <td colspan="4" class="blank"> </td>
        <td colspan="4" class="total-line balance">Balance Due</td>
        <td class="total-value balance">
          <div class="balance">{{ totalDue | currency }}</div>
        </td>
      </tr>
    </table>

    <div id="terms">
      <h5>Terms</h5>
        Finance Charge of 1.5% will be made on unpaid balances after 30 days.
    </div>
    <div id="btnSubmit">
      <button class="fa-align-right" class="btn btn-outline-success mr-3" *ngIf="customerAddress !== null || items.length !== 1" (click)="clearPage()">Clear Invoice</button>
      <button class="fa-align-right" *ngIf="customerAddress !== null" (click)="submitInvoice()" class="btn btn-outline-success mr-3">Submit Invoice</button>
    </div>
  </div>

  <!-- Test data section
  <div>
    <p></p><p></p><p></p>
    <label>Last Invoice ID: {{ lastInvoiceId || 'Not set'}}</label>
    <p></p>
    <label>Test Data</label>
    <pre>{{ customerData | json }}</pre>
  </div> -->
</body>
</html>
