<body>
    <div class="wrapper">
  <h1 style="text-align: center">Alerts</h1>
    <div class="triggeredAlerts">
        <h2>Triggered Alerts</h2>
            <div class="tableBlock">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Item UPC</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <ng-container *ngIf="item.id == alert.alertItemId"> -->
                        <tr *ngFor="let item of items">
                            <td>{{item.name}}</td>
                            <td>{{item.upc}}</td>
                            <td>{{item.quantity}}</td>
                        </tr>
                    <!-- </ng-container> -->
                    </tbody>
                </table>
        </div>
        <div class="tableBlock">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Threshold</th>
                    <th>Date Under</th>
                    <th>Date Ordered</th>
                    <th>Delete Alert</th>
                    <th>Alert Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alert of triggeredAlerts">
                    <td>{{alert.threshold}}</td>
                    <td>{{alert.dateUnder}}</td>
                    <td>{{alert.dateOrdered}}</td>
                    <td>
                        <button type="primary" class="btn btn-outline-success" (click)="deleteAlert(alert.id)">Delete</button>
                    </td>
                    <td>{{alert.alertStatus}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

    <div class="untriggeredAlerts">
        <h2>Untriggered Alerts</h2>
            <div class="tableBlock">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Item UPC</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <ng-container *ngIf="item.id == alert.alertItemId"> -->
                        <tr *ngFor="let item of items">
                            <td>{{item.name}}</td>
                            <td>{{item.upc}}</td>
                            <td>{{item.quantity}}</td>
                        </tr>
                    <!-- </ng-container> -->
                </tbody>
            </table>
        </div>
        <div class="tableBlock">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Threshold</th>
                        <th>Date Under</th>
                        <th>Date Ordered</th>
                        <th>Delete Alert</th>
                        <th>Alert Enabled</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alert of disabledAlerts">
                        <td>{{alert.threshold}}</td>
                        <td>{{alert.dateUnder}}</td>
                        <td>{{alert.dateOrdered}}</td>
                        <td>
                            <button type="primary" class="btn btn-outline-success" (click)="deleteAlert(alert.id)">Delete</button>
                        </td>
                        <td>
                            {{alert.alertStatus}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
