<body>
  <h1>Alerts</h1>
    <div class="triggeredAlerts">
        <h2>Triggered Alerts</h2>
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Upc</th>
                    <th>Quantity</th>
                    <th>Threshold</th>
                    <th>Date Under</th>
                    <th>Date Ordered</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alert of triggeredAlerts">
                    <!-- <td>{{item.name}}</td>
                    <td>{{item.upc}}</td>
                    <td>{{item.quantity}}</td> -->
                    <td>{{alert.threshold}}</td>
                    <td>{{alert.dateUnder}}</td>
                    <td>{{alert.dateOrdered}}</td>
                    <td>
                        <pre class="card card-block card-header">{{ checkModel }}</pre>
                        <button type="button" class="btn btn-primary" [(ngModel)]="checkModel" btnCheckbox btnCheckboxTrue="1" btnCheckboxFalse="0">Enable</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="untriggeredAlerts">
        <h2>Untriggered Alerts</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Upc</th>
                        <th>Quantity</th>
                        <th>Threshold</th>
                        <th>Date Under</th>
                        <th>Date Ordered</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alert of disabledAlerts">
                        <!-- <td>{{item.name}}</td>
                        <td>{{item.upc}}</td>
                        <td>{{item.quantity}}</td> -->
                        <td>{{alert.threshold}}</td>
                        <td>{{alert.dateUnder}}</td>
                        <td>{{alert.dateOrdered}}</td>
                        <td>
                            <button type="primary" class="btn btn-outline-success" (click)="deleteAlert(alert.id)">Delete</button>
                        </td>
                        <td>
                            <input type="checkbox" class="custom-control-input" id="enabledCheck">
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</body>
