<div>
  <h2 style="text-align: center">Triggered Alerts</h2>
  <table class="table table-striped customer-box">
    <thead>
        <tr>
          <!-- Item Name, UPC, Quantity, Threshold, Date Under, Order More, Date Ordered, Enabled, Delete -->
          <th>Name</th>
          <th>UPC</th>
          <th>Quantity</th>
          <th>Threshold</th>
          <th>Under Date</th>
          <td>Order More</td>
          <th>Ordered</th>
          <th>Enabled?</th>
          <td>Delete</td>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alert of triggeredAlertData">
        <td>{{ alert.itemName }}</td>
        <td>{{ alert.itemUPC }}</td>
        <td>{{ alert.quantity }}</td>
        <td>{{ alert.threshold }}</td>
        <td>{{ alert.dateUnder | date:'MM-dd-yyyy'}}</td>
        <td>
          <button class="fa-align-right" class="btn btn-outline-success mr-3">Order</button>
        </td>
        <td>{{ alert.dateOrdered | date:'MM-dd-yyyy'}}</td>
        <td><input type="checkbox" checked="{{ alert.alertOn }}"/></td>
        <td>
          <button class="fa-align-right" class="btn btn-outline-success mr-3">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p></p><p></p>
<div style="clear:both"></div>
<div>
  <h2 style="text-align: center">Not Triggered Alerts</h2>
  <table class="table table-striped customer-box">
    <thead>
      <tr>
        <th>Name</th>
        <th>UPC</th>
        <th>Quantity</th>
        <th>Threshold</th>
        <th>Enabled?</th>
        <td>Delete</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alert of nonTriggeredAlertData">
        <td>{{ alert.itemName }}</td>
        <td>{{ alert.itemUPC }}</td>
        <td>{{ alert.quantity }}</td>
        <td>{{ alert.threshold }} </td>
        <td>
          <input type="checkbox" checked="{{ alert.alertOn }}" />
        </td>
        <td>
          <button class="fa-align-right" class="btn btn-outline-success mr-3">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
