.input-label {
    border: none;
    background-color: #FFFFFF;
  }

  .customer-box {
    max-width: 1200px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
  }

.item {
    border-bottom: 1px solid #eee;
    width: 100%;
  }

.header {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.right {
  text-align: right;
  display: block;
}
