<h2>Invoice Search</h2>
<div>
  <table>
    <tr>
      <td colspan="2">
        <!-- First Name -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">First or Last name</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
            (change)="search()" (keyup)="search()" [(ngModel)]="firstName">
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <!-- Company Name -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Company Name:</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
            (change)="search()" (keyup)="search()" [(ngModel)]="company">
        </div>
      </td>
    </tr>
    <tr>
      <td>
      <!-- Phone -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Phone:</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
          (change)="search()" (keyup)="search()" [(ngModel)]="phone">
      </div>
    </td>
    <td>
      <!-- Email -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">E-Mail:</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
          (change)="search()" (keyup)="search()" [(ngModel)]="email">
      </div>
    </td>
  </table>
</div>

<div>
  <div class="container customer-box" *ngIf="invoices.length !== 0">

    <div class="row justify-content-center title">
      <h2 class="text-center">Returned results</h2>
    </div>

    <div class="row header">
      <div class="col-sm-2">
        <h4>Invoice ID</h4>
      </div>
      <div class="col-2">
        <h4>Date</h4>
      </div>
      <div class="col-2">
        <h4>Amount Paid</h4>
      </div>
      <div class="col-1 right">
        <h4>Outgoing</h4>
      </div>
    </div>
      <table width="35%">
        <tr *ngFor="let invoice of invoices" (click)="transfer(invoice.id)" class="item">
          <td colspan="1" class="col-1">
            {{ invoice.id }}
          </td>
          <td >
            <span>    </span>{{ invoice.invoiceDate }}
          </td>
          <td >
            ${{ invoice.amountPaid }}
          </td>
          <td >
            <i class="fa fa-paper-plane" *ngIf="invoice.outgoingInv === true"></i>
            <i class="fa fa-usd" *ngIf="invoice.outgoingInv === false"></i>
          </td>
        </tr>
      </table>
  </div>
</div>
