<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Customer information</title>
</head>

<body>
  <div class="customer-box">
    <table cellpadding="0" cellspacing="0">
      <tr class="top">
        <td colspan="2">
          <table>
            <tr>
              <td class="title">
                <h3>Customer Information</h3>
                <h5>{{ currentCustomer?.companyName || '' }}</h5>
              </td>
              <td>
                <div class='row'>
                  <div class='col-md-10'>
                    <button type="button" id='deleteButton' (click)='deleteCustomer()' class='btn btn-primary'>Delete</button>
                  </div>
                  <div class='col-ms-1'></div>
                  <div class='col-md-1'>
                    <button type="button" id='modifyButton' (click)='modifyCustomer()' class='btn btn-outline-success'>Modify</button>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <input class='form-control-plaintext' placeholder='Last Name' readonly value='Customer ID: {{ currentCustomer?.id }}' disabled='true'>
                <div class='form-check form-check-inline'>
                  <input class='form-control-plaintext' id='fnameElement' placeholder='First Name' [ngModel]='currentCustomer?.firstName' disabled='true'
                    (ngModelChange)='currentCustomer.firstName = $event'>
                  <input class='form-control-plaintext' id='lnameElement' placeholder='Last Name' [ngModel]='currentCustomer?.lastName' disabled='true'
                    (ngModelChange)='currentCustomer.lastName = $event'>
                </div>
                <input class='form-control-plaintext' id='phoneElement' placeholder='Phone Number' [ngModel]='currentCustomer?.phoneNumber' disabled='true'
                  (ngModelChange)='currentCustomer.phoneNumber = $event'>
                <input class='form-control-plaintext' id='emailElement' placeholder='Email' [ngModel]='currentCustomer?.email' disabled='true'
                  (ngModelChange)='currentCustomer.email = $event'>
              </td>
              <td class='right-align'>
                <div class='row'>
                  <div class='col-md-2'></div>
                <div class='col-md-10 right-align'>
                  <input class='form-control-plaintext right-align' id='streetElement' placeholder='Street Address' [ngModel]='currentCustomer?.custAddress?.street'
                    disabled='true' (ngModelChange)='currentCustomer.custAddress.street = $event'>
                </div>
              </div>
                <div class="form-row">
                  <div class='col-md-2'></div>
                  <div class="form-group col-md-6">
                    <input class='form-control-plaintext right-align' id='cityElement' placeholder='City' [ngModel]='currentCustomer?.custAddress?.city' disabled='true'
                      (ngModelChange)='currentCustomer.custAddress.city = $event'>
                  </div>
                  <div class='col-md-1 left-align'>,</div>
                  <div class="form-group col-md-1">
                    <input class='form-control-plaintext right-align' id='stateElement' placeholder='State' [ngModel]='currentCustomer?.custAddress?.state' disabled='true'
                      (ngModelChange)='currentCustomer.custAddress.state = $event'>
                  </div>
                  <div class="form-group col-md-2">
                    <input class='form-control-plaintext right-align' id='zipElement' placeholder='Zip' [ngModel]='currentCustomer?.custAddress?.zipCode' disabled='true'
                      (ngModelChange)='currentCustomer.custAddress.zipCode = $event'>
                  </div>
                </div>
                <div class='row'>
                  <div class='col-md-2'></div>
                  <div class='col-md-10'>
                    <input class='form-control-plaintext right-align' id='countryElement' placeholder='Country' [ngModel]='currentCustomer?.custAddress?.country' disabled='true'
                    (ngModelChange)='currentCustomer.custAddress.country = $event'>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="heading">
        <td>
          Invoice
        </td>

        <td>
          Invoice ID
        </td>
      </tr>

      <tr class="item" *ngFor="let invoice of currentCustomer?.customerInvoiceList" onclick="window.location='../invoices/invoice'">
        <td>
          {{ invoice?.invoiceDate || '-' }}
        </td>
        <td>
          {{ invoice?.id || '-' }}
        </td>
      </tr>
    </table>
  </div>
</body>
</html>